.comment_field {
    background-color: #e6e6e6;
    width: 35rem;
    height: 15rem;
    padding: 1rem;
    border-radius: 10px;
    color: #15a8c2;
}

.conasdf {
    padding-left: 3rem;
    margin-top: 1rem;
    display: block;
    text-align: left;
}

.conasdf input {
    width: 4rem;
}

textarea {
    resize: none;
    border-radius: 8px;
    border: none;
    width: 90%;
    font-size: 1rem;
    padding-bottom: 5rem;
}

.asdcg {
    margin-top: 4rem;
    justify-content: space-between;
    display: flex;
}